Source: lliurex-www
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2

Package: lliurex-www
Pre-depends: n4d-apache (>>0.24)
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: all
Conflicts: n4d-apache (<= 0.24)
Description: LliureX server web site
 This package installs server web site
 LliureX classrooms environment
